.categorias {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.categorias img {
  height: 256px;
  aspect-ratio: 1/1;
  background-size: cover;
  
}
.categorias h1 {
  margin-bottom: 20px;
}

.contenedor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 8px;
}

.categoria {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  justify-content: center;
  text-align: center;
}
.categoria strong {
  color: #333;
  font-size: 18px;
}

.categoria img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}
.categoria .link {
  width: 100%;
}
.link{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botones{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  align-items: center;
}
.botones button, .botones .linko{
  width: 100%;
}
.linko button {
  width: 100%;
}


@media screen and (max-width: 800px) {
  .categoria{
    width: 33%;
  }
}
@media screen and (max-width: 500px) {
  .categoria{
    width: 50%;
  }
}