.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-radius: 0px 0px 16px 16px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(128, 128, 128, 0.5);
  box-sizing: border-box;
}
.links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navbar-link {
  padding: 16px;
  color: white;
  border-radius: 4px;
  transition: all 0.2s ease;
}
.navbar-link:hover {
  cursor: pointer;
  background-color: lightgray;
  border: 1px solid;
}
.navbar-link:active{
  background-color: white;
  color:black;
}
.navbar img {
  height: 62px;
}
.navbar img:nth-child(2){
  display: none;
  height: 42px;
  filter: invert(1);
}
.navbar img:nth-child(2):hover{
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navbar .x{
  height: 16px;
  filter: invert(1);
}
@media screen and (max-width: 800px) {

  .navbar img:first-child{
    display: none;
  }
  .navbar img:nth-child(2){
    display: block;
  }
  .nav-links{
    display: none;
  }
  .active {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:0;
    left: 0;
    padding: 16px;
    background-color: gray;
    height: 100vh;
  }
}